@font-face {
    font-family: "Orbitron";
    src: url("./fonts/Orbitron-Medium.ttf");
}
* {
    margin: 0;
    box-sizing: border-box;
}
.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.header__logo {
    font-family: "Orbitron", sans-serif;
}
@media (max-width: 375px) {
    .header__l-cont {
        display: flex;
        position: fixed;
        background-color: black;
        top: 0px;
        left: -24px;
        width: 110%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
    }
}
@media (max-width: 375px) {
    .header__l-cont {
        display: none;
    }
    .header__l-cont:target {
        display: inherit;
    }
}
@media (min-width: 376px) {
}
.header__i-cont__cruz {
    margin-top: 24px;
    margin-left: 70%;
}
@media (min-width: 376px) {
    .header__i-cont__cruz {
        display: none;
    }
}
@media (max-width: 375px) {
    .header__l-cont__lista {
        flex-direction: column;
        padding: 0px;
    }
}
@media (min-width: 376px) {
    .header__l-cont__lista {
        display: flex;
        padding: 0px;
    }
}
.header__l-cont__lista__opcion {
    list-style: none;
}
@media (max-width: 375px) {
    .header__l-cont__lista__opcion {
        margin-top: 60px;
    }
}
.header__l-cont__lista__opcion__link {
    text-decoration: none;
    font-size: 48px;
    color: white;
}

@media (min-width: 376px) {
    .header__l-cont__lista__opcion__link {
        font-size: 24px;
        margin-left: 13px;
    }
}

.header__img {
    display: flex;
}
@media (min-width: 376px) {
    .header__img {
        display: none;
    }
}
@media (max-width: 375px) {
    .header__img__burger {
        cursor: pointer;
    }
}
@media (min-width: 376px) {
    .header__img__burger {
        display: none;
    }
}
/* TITLE */
